[submodule "Scan"]
	path = Scan
	url = https://github.com/PRtx123/Scan.git
[submodule "RepoForTests"]
	path = RepoForTests
	url = https://st.sfera.org/app/sourcecode/api/_PRO/RepoForTests.git

[submodule "Test"]
	path = Test
	url = https://gitlab.com/test640530/Test.git
